{% extends "base.html" %}

{% block title %}{{ block.super }} : Koningschieten : 2005{% endblock %}

{% block banner %}ADL_135176.png{% endblock %}
{% block logo-position %}top: -160px; left: 490px;{% endblock %}

{% block body %}
    <h2>Koningschieten 2005</h2>
    <p>
        <a href="{% url '/uitslagen/koningschieten.html' %}">Koningschieten</a>:
        <a href="{% url '/uitslagen/koningschieten/2014.html' %}">2014</a>,
        <a href="{% url '/uitslagen/koningschieten/2009.html' %}">2009</a>,
        <a href="{% url '/uitslagen/koningschieten/2007.html' %}">2007</a>,
        <a href="{% url '/uitslagen/koningschieten/2006.html' %}">2006</a>.
    </p>

    <p>
        Dames en heren, ondanks de geringe opkomst was het weereen prima
        schuttersdag afgelopen zondag 11 september. Westreden weer om
        het clubkampieonschap 2005. Dankzij degoede voorbereidingen van
        Peter de Wilde werd de wedstrijd vlot verschoten. We mochten
        zelfs pauzeren na de eerste 18 pijlen! Verassingen waren er ook:
        de regerende jeugdkampioen, Yorik de Swart, werd verslagen door
        een nieuw jeugd lid, Arne de Laat. Hieronder de voledige
        uitslag.
    </p>

    <h3>Uitslag</h3>

    <table><tr>
        <td width="250" valign="top">
            <h5>Jeugd (alleen jongens)</h5>

            <p>Recurve:</p>
            <table width="210" border="0">
                <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
                <tr><td>1</td><td>Arne de Laat</td><td>582</td></tr>
                <tr><td>2</td><td>Yorik de Swart</td><td>564</td></tr>
                <tr><td>3</td><td>Bojan Sandhaus</td><td>499</td></tr>
                <tr><td>4</td><td>Bas van Barneveld</td><td>413</td></tr>
                <tr><td>5</td><td>Elmar vd Puttelaar</td><td>340</td></tr>
            </table>

            <p>Compound:</p>
            <table width="210" border="0">
                <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
                <tr><td>1</td><td>Martyn den Besten</td><td>475</td></tr>
            </table>
        </td>
        <td>
            <h5>Volwassen</h5>
            <p>
                Recurve:<br>
                Heren
            </p>
            <table width="210" border="0">
                <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
                <tr><td>1</td><td>Maarten de Jong</td><td>499</td></tr>
                <tr><td>2</td><td>Marcel van Baalen</td><td>490</td></tr>
                <tr><td>3</td><td>Hans Pruijs</td><td>447</td></tr>
                <tr><td>4</td><td>Paul Brasse</td><td>439</td></tr>
            </table>

            <p>
                Compound:<br>
                Heren
            </p>
            <table width="210" border="0">
                <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
                <tr><td></td><td>Sander de Vries (1)</td><td>665</td></tr>
                <tr><td>1</td><td>Peter de Wilde</td><td>616</td></tr>
                <tr><td>1</td><td>Peterde Jong</td><td>616</td></tr>
            </table>

            <p>
                Dames
            </p>
            <table width="210" border="0">
                <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
                <tr><td></td><td>Françoise Weijters (2)</td><td>645</td></tr>
            </table> 
        </td>
    </tr></table>
    <p>
        (1) buiten mededinging, is al keijzer<br>
        (2) buiten mededinging, is al keijzerin
    </p>
{% endblock %}
