{% extends "base.html" %}

{% block title %}{{ block.super }} : Koningschieten : 2006{% endblock %}

{% block banner %}ADL_135176.png{% endblock %}
{% block logo-position %}top: -160px; left: 490px;{% endblock %}

{% block body %}
    <h2>Koningschieten 2006</h2>
    <p>
        <a href="{% url '/uitslagen/koningschieten.html' %}">Koningschieten</a>:
        <a href="{% url '/uitslagen/koningschieten/2014.html' %}">2014</a>,
        <a href="{% url '/uitslagen/koningschieten/2009.html' %}">2009</a>,
        <a href="{% url '/uitslagen/koningschieten/2007.html' %}">2007</a>,
        <a href="{% url '/uitslagen/koningschieten/2005.html' %}">2005</a>.
    </p>

    <p>
        De wedstrijd vond plaats op 10 September, en begon om 13.00 (op
        het buitenveld).<br>
        De jeugd schoot op 30 en 20 meter, en de volwassenen op 50 en 30
        meter, en 36 pijlen per afstand.
    </p>

    <h3>Uitslag</h3>
    <table><tr><td width="250" valign="top">
        <h5>Jeugd</h5>
        <p>
            Recurve:<br>
            Jongens:
        </p>
        <table width="210" border="0">
            <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
            <tr><td></td><td>Pepijn</td><td></td></tr>
        </table>

        <p>
            Meiden:
        </p>
        <table width="210" border="0">
            <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
            <tr><td>1</td><td>Anna</td><td></td></tr>
        </table>

        <p>
            Compound:<br>
            Jongens:
        </p>
        <table width="210" border="0">
            <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
            <tr><td>1</td><td>Martyn den Besten</td><td></td></tr>
        </table>
    </td>
    <td valign="top">
        <h5>Volwassenen</h5>

        <p>
            Recurve:<br>
            Heren:
        </p>
        <table width="210" border="0">
            <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
            <tr><td>1</td><td>Maarten de Jong</td><td></td></tr>
            <tr><td>2</td><td>Marcel van Baalen</td><td></td></tr>
            <tr><td>3</td><td>Arne de Laat</td><td></td></tr>
        </table>

        <p>
            Dames:
        </p>
        <table width="210" border="0">
            <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
            <tr><td>1</td><td></td><td></td></tr></table>

        <p>
            Compound:<br>
            Heren:
        </p>
        <table width="210" border="0">
            <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
            <tr><td>-</td><td>Sander de Vries (1)</td><td></td></tr>
            <tr><td>1</td><td>Peter de Wilde</td><td></td></tr>
            <tr><td>2</td><td>Peter de Jong</td><td></td></tr>
        </table>

        <p>
            Dames:
        </p>
        <table width="210" border="0">
            <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
            <tr><td>-</td><td>Françoise Weijters (1)</td><td></td></tr>
        </table>

        <p>1) buiten mededinging, is al keijzer(in)</p>
    </td></tr></table>
{% endblock %}
