{% extends "base.html" %}

{% block title %}{{ block.super }} : Koningschieten : 2007{% endblock %}

{% block banner %}ADL_135176.png{% endblock %}
{% block logo-position %}top: -160px; left: 490px;{% endblock %}

{% block body %}
    <h2>Koningschieten 2007</h2>
    <p>
        <a href="{% url '/uitslagen/koningschieten.html' %}">Koningschieten</a>:
        <a href="{% url '/uitslagen/koningschieten/2014.html' %}">2014</a>,
        <a href="{% url '/uitslagen/koningschieten/2009.html' %}">2009</a>,
        <a href="{% url '/uitslagen/koningschieten/2006.html' %}">2006</a>,
        <a href="{% url '/uitslagen/koningschieten/2005.html' %}">2005</a>.
    </p>
    <p>
        De wedstrijd vond plaats op 15 September.<br>
        Patric, het enige aanwezige jeugd lid, schoot twee rondes op 20
        meter,<br>
        De volwassenen schoten op 50 en 30 meter, iedereen schoot 36
        pijlen per ronde.
    </p>

    <h3>Uitslag</h3>
    <table><tr>
        <td width="250" valign="top">
            <h5>Recurve</h5>
            <p>Heren:</p>
            <table width="220">
                <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
                <tr><td>1</td><td>Willem van Bergeijk</td><td>547</td></tr>
                <tr><td>2</td><td>Marcel van Baalen</td><td>543</td></tr>
                <tr><td>3</td><td>Maarten de Jong</td><td>536</td></tr>
                <tr><td>4</td><td>Ari van Wettum</td><td>521</td></tr>
                <tr><td>5</td><td>Jeffrey Maagdenberg</td><td>495</td></tr>
                <tr><td>6</td><td>Arne de Laat</td><td>488</td></tr>
            </table>
            <p>Jongens:</p>
            <table width="220">
                <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
                <tr><td>1</td><td>Patric</td><td>488</td></tr>
            </table>
        </td>
        <td valign="top">
            <h5>Compound</h5>
            <p>Heren:</p>
            <table width="220">
                <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
                <tr><td>-</td><td>Sander de Vries (1)</td><td>692</td></tr>
                <tr><td>1</td><td>Peter de Wilde</td><td>633</td></tr>
                <tr><td>2</td><td>Shaun Maitland</td><td>626</td></tr>
                <tr><td>3</td><td>Peter de Jong</td><td>612</td></tr>
            </table>
            <p>Dames:</p>
            <table width="220">
                <tr><th width="40">Plaats</th><th>Naam</th><th width="40">Score</th></tr>
                <tr><td>-</td><td>Françoise Weijters (1)</td><td>603</td></tr>
            </table>
            <p>1) buiten mededinging, is al keijzer(in)</p>
        </td>
    </tr></table>
{% endblock %}
