{% extends "activiteiten.html" %}

{% block activiteiten_kerstverschieting %}active{% endblock %}
{% block title %}{{ block.super }} : Kerstverschieting{% endblock %}

{% block body %}
    <h2>Kerstverschieting</h2>

    <h4>2017</h4>

    <p class="textwidth">
        Het was ongelooflijk spannend op zondag 17 december. Wie zou de kersttrofee dit
        jaar mee moeten nemen? Iedereen deed zijn best om zo min mogelijk punten te halen.
        Helaas voor Maeike en Guus lukte het hen net niet, ook al deden ze nog zo hun
        best. Maeike trofee was niet eens een wisseltrofee, zodat ze er voor altijd aan
        vast zit. Guus durfde de wisseltrofee niet eens meer mee naar huis te nemen. Dus
        die staat alweer in Bunnik te wachten op volgend jaar. Volgend jaar meer succes
        Maeike en Guus.
    </p>
{% endblock %}
