{% extends "activiteiten_koningschieten.html" %}

{% block body %}

{% filter markdown:'tables,markdown-in-html' %}

## Koningschieten

<p class='textwidth'>
    Het Koningschieten is de wedstrijd van het jaar. De clubleden
    strijden dan tegen elkaar. Er wordt geschoten in de klasses
    traditioneel (30 en 20 meter), recurve en compound (50 en 30
    meter) en jeugd (30 en 20 meter), elk onder verdeeld in heren en
    vrouwen.
</p>

<p class='textwidth'>
    De winnaar van een klasse krijgt de titel koning of koningin.
    Indien iemand voor het derde jaar achtereen koning of koningin
    is geworden, dan krijgt hij of zij de titel keizer of keizerin,
    die behouden blijft totdat iemand anders drie jaar achtereen
    wint.
</p>

### Huidige titelhouders

| Klasse               | Koning(in)              | Keizer(in)              |
|----------------------|-------------------------|-------------------------|
| Recurve heren jeugd  | Oscar Snijders          |                         |
| Recurve heren        | Bas Mol                 | Peter de Wilde          |
| Recurve dames jeugd  | Moira v. Uunen          |                         |
| Recurve dames        | Carola Blokker          |                         |
| Compound heren jeugd | Martyn den Besten       |                         |
| Compound heren       | Jan van Doorn           | Sander de Vries         |
| Compound dames jeugd |                         |                         |
| Compound dames       | Françoise Weijters-Bage | Françoise Weijters-Bage |
| Barebow heren jeugd  | Julan Wardenier         |                         |
| Barebow heren        | Danny Martherus         | Arnold Dittmar          |
| Barebow dames jeugd  | Arwende Wardenier       |                         |
| Barebow dames        | Conny Buzink            | Hetty van Eldijk        |


### Uitslagen

- <a href="{% url '/activiteiten/koningschieten/2017.html' %}">2017</a>
- <a href="{% url '/activiteiten/koningschieten/2016.html' %}">2016</a>
- <a href="{% url '/activiteiten/koningschieten/2015.html' %}">2015</a>
- <a href="{% url '/activiteiten/koningschieten/2014.html' %}">2014</a>
- <a href="{% url '/activiteiten/koningschieten/2009.html' %}">2009</a>
- <a href="{% url '/activiteiten/koningschieten/2007.html' %}">2007</a>
- <a href="{% url '/activiteiten/koningschieten/2006.html' %}">2006</a>
- <a href="{% url '/activiteiten/koningschieten/2005.html' %}">2005</a>

{% endfilter %}

{% endblock %}
