{% extends "activiteiten.html" %}

{% block activiteiten_paasverschieting %}active{% endblock %}
{% block title %}{{ block.super }} : Paasverschieting{% endblock %}

{% block body %}
    <h2>Paasverschieting</h2>

    <p class="textw">
        Op zondag 24 april was het eerste paasdag, een mooie dag voor
        een paasverschieting! En niet zomaar een verschieting, dit keer
        werd er geschoten met zelf gemaakte bogen. Een aantal mensen had
        een prachtige houten boog gemaakt, maar er waren ook bogen van
        vliegermateriaal, pluche, en zelfs van papier-mache...
    </p>

    <p class="textw">
        Sommige bogen bleken wat steviger dan andere, en twee bogen
        hebben het einde van de wedstrijd helaas niet gehaald. De houten
        boog van Maarten begaf het al na enkele schoten, hij ging daarom
        naar huis met de pechprijs. Shaun wist de meeste chocolade hazen
        en eieren te raken, en ging naar huis met de hoofdprijs: een
        prachtige zingende vogel. De originaliteitsprijs ging naar
        Amanda, voor haar pluchen giraffenboog.
    </p>

    <p>(foto's komen binnenkort)</p>
{% endblock %}
