{% extends "activiteiten.html" %}

{% block activiteiten_veldschieten %}active{% endblock %}
{% block title %}{{ block.super }} : Workshop Veldschieten{% endblock %}

{% block body %}
    <h2>Workshop Veldschieten</h2>
    <p>
        Voor degene die nog nooit buiten hadden geschoten maar ook voor
        degene die dat al wel eens hadden gedaan werd er een workshop
        gehouden om daar wat meer vertrouwd mee te raken.
    </p>

    <p>
        o.l.v. Shaun werd uitgelegd welke blazoenen er gebruikt dienen
        te worden op de verschillende afstanden etc. en werd er
        natuurlijk ook geschoten op verschillende afstanden.
    </p>

    <p>
        De workshop werd gehouden op <b>zondag 5 juni</b>.
    </p>
{% endblock %}
