body {
    font: 13px 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
    margin: 0 10px 0 40px;
    color: #111111;
    background: url(../images/body_bg.png) repeat-x scroll #555555;
    text-align: left;}

img {
    border: none;}

b,
strong {
    font-weight: bold;}

a:link {
    color: #0054DD;
    text-decoration: none;}

a:visited {
    color: #003180;
    text-decoration: none;}

a:hover,
a:active {
    color: #0062FF;
    text-decoration: underline;}

.table-left,
.image-left {
    margin: 3px;
    padding: 3px;
    float: left;}

.image-right {
    margin: 3px;
    padding: 3px;
    float: right;}

table {
    background-color: #ffffff;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;}

table th {
    background-color: #D9EDFF;
    padding: 4px;}

table td {
    padding: 2px;
    vertical-align: top;}

#container {
    background: #ffffff;
    width: 960px;
    margin: 0 auto;
    color: #101010;
    font-family: Helvetica, 'Lucida Grande', LucidaGrande, Lucida, Arial, sans-serif;}

#pageHeader {
    width: 207px;
    height: 138px;
    text-align: left;
    list-style: none;
    background-image: url(../images/geronimo-logo.png);
    text-indent: -9999px;
    top: -180px;
    left: 280px;
    position: relative;}

#pageHeader img {
    float: left;
    padding-left: 10px;
    padding-top: 10px;}

#pageHeader h1 {
    color: #424242;
    margin: 0;
    font-weight: normal;
    font-size: 28px;
    padding: 15px 20px 0 190px;
    text-shadow: 0 0 2px #b0c4de;}

#pageHeader h2 {
    color: #999999;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    padding-right: 20px;
    padding-left: 190px;
    text-shadow: 0 0 1px #b0c4de;}

#bannerContainer {
    width: 960px;
    float: left;
    text-align: left;
    background: url(../images_site/ADL_060178.png) no-repeat;
    height: 216px; /* 176 */
    margin: 0;}

#contentContainer {
    min-height: 375px;
    text-align: left;
    float: left;
    width: 960px;
    padding-bottom: 10px;}

#contentContainer #content {
    line-height: 1.3em;
    padding-right: 23px;
    padding-left: 23px;
    padding-top: 5px;}

#footer {
    width: 960px;
    margin: 0 auto 7px;
    background: repeat-x url(../images/footer_bg.png);
    text-align: left;
    color: #ffffff;
    height: 25px;
    padding-top: 3px;
    padding-bottom: 3px;}

#footer span {
    font-size: 11px;
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 15px;}

#footer a {
    color: #fff;}

#footer a:hover {
    color: #014483;
    text-decoration: none;}

#subnavcontainer,
#navcontainer {
    float: left;
    height: 100%;
    width: 160px;
    color: #ffffff;
    background-color: rgba(13, 76, 115, 0.6);}

#subnavcontainer {
    background-color: rgba(13, 76, 115, 0.5);
    width: 230px;}

#subnavcontainer .active,
#navcontainer .active {
    background: #0059C5;}

#subnavcontainer ul,
#navcontainer ul {
    list-style: none;
    margin: 0;
    padding: 0;}

#navcontainer li { }

#subnavcontainer a,
#navcontainer a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1px 15px;
    height: 16px;
    font-size: 13px;}

#subnavcontainer a:hover,
#navcontainer a:hover {
    background: white;
    color: #0059C5;}

#subnavcontainer ul ul,
#navcontainer ul ul {
    padding: 0;
    margin: 0;}

#subnavcontainer ul ul a,
#navcontainer ul ul a {
    display: block;
    text-weight: bold;
    text-decoration: none;
    padding-left: 18px;
    color: #D9E7F7;
    font-size: 12px;
    height: 13px;}

.textwidth {
    width: 640px;}

h1, h2, h3, h4, h5, h6 {
    color: #0055AA;
    font-weight: normal;
    margin-bottom: 0.8em;}

h1 {font-size: 28px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h5 {font-size: 15px;}

#index td {
    text-align: center;
    vertical-align: middle;
    width: 205px;
    height: 170px;}

#index img {
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    -moz-box-shadow: 2px 2px 10px #888;
    -webkit-box-shadow: 2px 2px 10px #888;
    box-shadow: 2px 2px 10px #888;
    width: 187px;
    height: 140px;}

.clearer {
	clear: both;}
