{% extends "activiteiten_koningschieten.html" %}

{% block activiteiten_koningschieten_2005 %}active{% endblock %}
{% block title %}{{ block.super }} : 2005{% endblock %}

{% block body %}

{% filter markdown:'tables,markdown-in-html' %}

## Koningschieten 2005

Dames en heren, ondanks de geringe opkomst was het weereen prima schuttersdag
afgelopen zondag 11 september. We streden weer om het clubkampieonschap 2005.
Dankzij degoede voorbereidingen van Peter de Wilde werd de wedstrijd vlot
verschoten. We mochten zelfs pauzeren na de eerste 18 pijlen! Verassingen
waren er ook: de regerende jeugdkampioen, Yorik de Swart, werd verslagen door
een nieuw jeugd lid, Arne de Laat. Hieronder de voledige uitslag.

### Uitslagen

<div markdown='1' class='table-left'>
### Recurve

#### Heren

| Naam                   | Score |
|------------------------|-------|
| Maarten de Jong        | 499   |
| Marcel van Baalen      | 490   |
| Hans Pruijs            | 447   |
| Paul Brasse            | 439   |

#### Heren jeugd

| Naam                   | Score |
|------------------------|-------|
| Arne de Laat           | 582   |
| Yorik de Swart         | 564   |
| Bojan Sandhaus         | 499   |
| Bas van Barneveld      | 413   |
| Elmar vd Puttelaar     | 340   |
</div>

<div markdown='1' class='table-left'>
### Compound

#### Heren

| Naam                   | Score |
|------------------------|-------|
| Sander de Vries (1)    | 665   |
| Peter de Wilde         | 616   |
| Peterde Jong           | 616   |

#### Dames

| Naam                   | Score |
|------------------------|-------|
| Françoise Weijters (1) | 645   |

#### Heren jeugd

| Naam                   | Score |
|------------------------|-------|
| Martyn den Besten      | 475   |
</div>

<div class='clearer'></div>

(1) buiten mededinging, is al keijzer(in)

{% endfilter %}

{% endblock %}
