{% extends "activiteiten_koningschieten.html" %}

{% block activiteiten_koningschieten_2006 %}active{% endblock %}
{% block title %}{{ block.super }} : 2006{% endblock %}

{% block body %}

{% filter markdown:'tables,markdown-in-html' %}

## Koningschieten 2006

De wedstrijd vond plaats op 10 september, en begon om 13.00 (op
het buitenveld).<br>
De jeugd schoot op 30 en 20 meter, en de volwassenen op 50 en 30
meter, en 36 pijlen per afstand.

### Uitslagen

<div markdown='1' class='table-left'>
### Recurve

#### Heren

| Naam                   | Score |
|------------------------|-------|
| Maarten de Jong        |       |
| Marcel van Baalen      |       |
| Arne de Laat           |       |

#### Heren jeugd

| Naam                   | Score |
|------------------------|-------|
| Pepijn Melse           |       |

#### Dames jeugd

| Naam                   | Score |
|------------------------|-------|
| Anna Melse             |       |
</div>

<div markdown='1' class='table-left'>
### Compound

#### Heren

| Naam                   | Score |
|------------------------|-------|
| Sander de Vries (1)    |       |
| Peter de Wilde         |       |
| Peter de Jong          |       |

#### Dames

| Naam                   | Score |
|------------------------|-------|
| Françoise Weijters (1) |       |

#### Heren jeugd

| Naam                   | Score |
|------------------------|-------|
| Martyn den Besten      |       |
</div>

<div class='clearer'></div>

(1) buiten mededinging, is al keijzer(in)

{% endfilter %}

{% endblock %}
