{% extends "activiteiten_koningschieten.html" %}

{% block activiteiten_koningschieten_2007 %}active{% endblock %}
{% block title %}{{ block.super }} : 2007{% endblock %}

{% block body %}

{% filter markdown:'tables,markdown-in-html' %}

## Koningschieten 2007

De wedstrijd vond plaats op 15 september.<br>
Patric, het enige aanwezige jeugd lid, schoot twee rondes op 20 meter.<br>
De volwassenen schoten op 50 en 30 meter, iedereen schoot 36
pijlen per ronde.

### Uitslagen

<div markdown='1' class='table-left'>
### Recurve

#### Heren

| Naam                   | Score |
|------------------------|-------|
| Willem van Bergeijk    | 547   |
| Marcel van Baalen      | 543   |
| Maarten de Jong        | 536   |
| Ari van Wettum         | 521   |
| Jeffrey Maagdenberg    | 495   |
| Arne de Laat           | 488   |

#### Jongens

| Naam                   | Score |
|------------------------|-------|
| Patric                 | 488   |
</div>

<div markdown='1' class='table-left'>
### Compound

#### Heren

| Naam                   | Score |
|------------------------|-------|
| Sander de Vries (1)    | 692   |
| Peter de Wilde         | 633   |
| Shaun Maitland         | 626   |
| Peter de Jong          | 612   |

#### Dames

| Naam                   | Score |
|------------------------|-------|
| Françoise Weijters (1) | 603   |
</div>

<div class='clearer'></div>
(1) buiten mededinging, is al keijzer(in)

{% endfilter %}

{% endblock %}
