{% extends "activiteiten_koningschieten.html" %}

{% block activiteiten_koningschieten_2009 %}active{% endblock %}
{% block title %}{{ block.super }} : 2009{% endblock %}

{% block body %}

{% filter markdown:'tables,markdown-in-html' %}

## Koningschieten 2009

De wedstrijd vond plaats op zaterdag 12 september.<br>
Er deden deze keer twee deelnemers mee met een barebow, zij schoten op 40 en
20 meter.<br>
De rest, recurve en compound, schoot op de gebruikelijke 50 en 30 meter.

### Uitslagen

<div markdown='1' class='table-left'>
### Recurve

#### Heren

| Naam                   | Score |
|------------------------|------:|
| Kasper Dieho           |       |
| -                      |       |
| -                      |       |
| Arne de Laat           |       |
| -                      |       |
| -                      |       |

#### Dames

| Naam                   | Score |
|------------------------|------:|
| -                      |       |
| -                      |       |

#### Heren jeugd

| Naam                   | Score |
|------------------------|------:|
| -                      |       |
</div>

<div markdown='1' class='table-left'>
### Compound

#### Heren

| Naam                   | Score |
|------------------------|------:|
| Sander de Vries (1)    |       |
| Peter de Wilde (2)     |       |
| Peter de Jong          |       |

#### Dames

| Naam                   | Score |
|------------------------|------:|
| Françoise Weijters (1) |       |
</div>

<div markdown='1' class='table-left'>
### Barebow

#### Heren

| Naam                   | Score |
|------------------------|------:|
| Arnold Dittmar         |       |

#### Heren jeugd

| Naam                   | Score |
|------------------------|------:|
| Jelle Dittmar          |       |
</div>

<div class='clearer'></div>

(1) buiten mededinging, is al keijzer(in)<br>
(2) buiten mededinging

{% endfilter %}

{% endblock %}
