{% extends "activiteiten_koningschieten.html" %}

{% block activiteiten_koningschieten_2014 %}active{% endblock %}
{% block title %}{{ block.super }} : 2014{% endblock %}

{% block body %}

{% filter markdown:'tables,markdown-in-html' %}

## Koningschieten 2014

De wedstrijd vond plaats op zaterdag 28 Juni. De foto's van de
wedstrijd zijn op de foto pagina te vinden.

### Uitslagen

<div markdown='1' class='table-left'>
### Recurve

#### Heren

| Naam                  | Score |
|-----------------------|------:|
| Jeffrey Maagdenberg   |       |
| Jack van Hooij        |       |
| Jan van Doorn         |       |
| Wout van der Brug     |       |
| Arne de Laat          |       |
| Joost van der Flier   |       |
| Willem Mol            |       |

#### Dames

| Naam                  | Score |
|-----------------------|------:|
| Petra Bijlhout        |       |
| Marga van Doorn       |       |

#### Heren jeugd

| Naam                  | Score |
|-----------------------|------:|
| Koen van Lierop       |       |
| Rinze Santing         |       |
| Erik Meijer           |       |
| Tim Bijlhout          |       |

#### Dames jeugd

| Naam                  | Score |
|-----------------------|------:|
| Bibi Brettschneider   |       |
</div>

<div markdown='1' class='table-left'>
### Compound

#### Heren

| Naam                  | Score |
|-----------------------|------:|
| Kasper Dieho          |       |
</div>

<div markdown='1' class='table-left'>
### Barebow

#### Heren

| Naam                  | Score |
|-----------------------|------:|
| Arnold Dittmar        |       |
| Shaun Maitland        |       |
| Gijs van Doorn        |       |
| Gerwin Postma         |       |

#### Dames

| Naam                  | Score |
|-----------------------|------:|
| Conny Buzink          |       |

#### Heren jeugd

| Naam                  | Score |
|-----------------------|------:|
| Julan Wardenier       |       |

#### Dames jeugd

| Naam                  | Score |
|-----------------------|------:|
| Arwende Wardenier     |       |
</div>

<div markdown='1' class='table-left'>
### Alternatief

#### Heren

| Naam                  | Score |
|-----------------------|------:|
| Winfrid van den Kroef |       |
</div>

{% endfilter %}

{% endblock %}
