{% extends "activiteiten_koningschieten.html" %}

{% block activiteiten_koningschieten_2014 %}active{% endblock %}
{% block title %}{{ block.super }} : 2014{% endblock %}

{% block body %}
    <h2>Koningschieten 2014</h2>
    <p>
        De wedstrijd vond plaats op zaterdag 28 Juni. De foto's van de
        wedstrijd zijn op de foto pagina te vinden.
    </p>

    <h3>Uitslag</h3>

    <table><tr>
        <td width="240" valign="top">
            <h5>Recurve</h5>
            <p>Heren:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Jeffrey Maagdenberg</td></tr>
                <tr><td>Jack van Hooij</td></tr>
                <tr><td>Jan van Doorn</td></tr>
                <tr><td>Wout van der  Brug</td></tr>
                <tr><td>Arne de Laat</td></tr>
                <tr><td>Joost van der Flier</td></tr>
                <tr><td>Willem Mol</td></tr>
            </table>
            <p>Jongens:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Koen van Lierop</td></tr>
                <tr><td>Rinze Santing</td></tr>
                <tr><td>Erik Meijer</td></tr>
                <tr><td>Tim Bijlhout</td></tr>
            </table>
            <p>Dames:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Petra Bijlhout</td></tr>
                <tr><td>Marga van Doorn</td></tr>
            </table>
            <p>Meiden:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Bibi Brettschneider</td></tr>
            </table>
        </td>
        <td width="240" valign="top">
            <h5>Compound</h5>
            <p>Heren:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Kasper Dieho</td></tr>
            </table>
        </td>
        <td width="240" valign="top">
            <h5>Barebow</h5>
            <p>Heren:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Arnold Dittmar</td></tr>
                <tr><td>Shaun Maitland</td></tr>
                <tr><td>Gijs van Doorn</td></tr>
                <tr><td>Gerwin Postma</td></tr>
            </tr></table>
            <p>Jongens:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Julan Wardenier</td></tr>
            </tr></table>
            <p>Dames:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Conny Buzink</td></tr>
            </tr></table>
            <p>Meiden:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Arwende Wardenier</td></tr>
            </tr></table>
            <p>Alternatief:</p>
            <table width="220">
                <tr><th width="40">Naam</th></tr>
                <tr><td>Winfrid van den Kroef</td></tr>
            </tr></table>
        </td>
    </tr></table>
{% endblock %}
