{% extends "activiteiten_koningschieten.html" %}

{% block activiteiten_koningschieten_2015 %}active{% endblock %}
{% block title %}{{ block.super }} : 2015{% endblock %}

{% block body %}

{% filter markdown:'tables,markdown-in-html' %}

## Koningschieten 2015

De wedstrijd vond plaats op zaterdag 27 Juni. De foto's van de
wedstrijd zijn op de <a href="https://arne.delaat.net/Photos_Archery/">foto</a> pagina te vinden.

### Uitslagen

<div markdown='1' class='table-left'>
### Recurve

#### Heren

| Naam                | Score |
|---------------------|-------|
| Jeffrey Maagdenberg | 550   |
| Jan van Doorn       | 515   |
| Bas Mol             | 500   |
| Maarten de Jong     | 475   |
| Quirijn Blokker     | 427   |
| Willem Mol          | 362   |
| Wout van der Brug   | 328   |

#### Dames

| Naam                | Score |
|---------------------|-------|
| Conny Buzink        | 464   |
| Marga van Doorn     | 460   |

#### Heren jeugd

| Naam                | Score |
|---------------------|-------|
| Oscar Snijders      | 440   |
| Erik Meijer         | 380   |
| Rinze Custers       | 303   |

#### Dames jeugd

| Naam                | Score |
|---------------------|-------|
| Maeke Maagdenberg   | 345   |
</div>

<div markdown='1' class='table-left'>
### Compound

#### Heren

| Naam            | Score |
|-----------------|-------|
| Kasper Dieho    | 662   |
| Arjan van Doorn | 564   |
</div>

<div markdown='1' class='table-left'>
### Barebow

#### Heren

| Naam            | Score |
|-----------------|-------|
| Shaun Maitland  | 485   |
| Arnold Dittmar  | 480   |
| Gerwin Postma   | 385   |
</div>

{% endfilter %}

{% endblock %}
