{% extends "activiteiten_koningschieten.html" %}

{% block activiteiten_koningschieten_2016 %}active{% endblock %}
{% block title %}{{ block.super }} : 2016{% endblock %}

{% block body %}

{% filter markdown:'tables,markdown-in-html' %}

## Koningschieten 2016

Het was een dag met vele gezichten. Om de juiste beslissing te nemen
is het altijd lastig. Gelukkig is de juiste genomen. Buiten schieten!!!
Er waren 15 deelnemers. Hiermee hebben we in de regen, zonneschijn,
wind, hardere wind het jaarlijkse koningsschieten gehouden.

### Uitslagen

<div markdown='1' class='table-left'>
### Recurve

#### Heren

| Naam                | Score |
|---------------------|-------|
| Bas Mol             | 410   |
| Craig Bel           | 404   |
| Quirijn Blokker     | 266   |
| Wout vd Brug        | 232   |
| Maarten de Jong     | -     |

#### Dames

| Naam                | Score |
|---------------------|-------|
| Carola Blokker      | 342   |
| Daphne Geurtsen     | 217   |
| Hanneke v.d. Heuvel | 160   |
| Suus v. Zorge       | 134   |

#### Dames jeugd

| Naam                | Score |
|---------------------|-------|
| Moira v. Uunen      | 365   |
</div>

<div markdown='1' class='table-left'>
### Compound

#### Heren

| Naam            | Score |
|-----------------|-------|
| Jan van Doorn   | 501   |
| Shaun Maitland  | 493   |
</div>

<div markdown='1' class='table-left'>
### Barebow

#### Heren

| Naam            | Score |
|-----------------|-------|
| Danny Martherus | 393   |

#### Dames

| Naam            | Score |
|-----------------|-------|
| Conny Buzink    | 308   |
| Isabelle Aarts  | 306   |
</div>

{% endfilter %}

{% endblock %}
