{% extends "base.html" %}

{% block current_aanmelden %}active{% endblock %}
{% block title %}{{ block.super }} : Aanmelden beginnerscursus{% endblock %}

{% block banner %}DSC_22439.png{% endblock %}
{% block logo-position %}top: -190px; left: 430px;{% endblock %}

{% block body %}
    <h2>Aanmeld formulier beginnerscursus</h2>

    <p>
        Met dit formulier kunt u zich aanmelden voor de
        beginnerscursus.
    </p>

    <p>
        <b>Let op!</b> De aanmelding is pas definitief als de helft van het
        lesgeld overmaakt is.<br>
        Maak na de aanmelding dus € 50 (of €40 voor jeugd/studenten) over,
        onder vermelding van uw naam,<br>
        naar: <i>NL35 INGB 0005 2303 09, t.n.v. SHS Geronimo te Zeist</i>.
    </p>

    <p>
        Na succesvolle aanmelding zal u een mail ontvangen van ons ter
        bevestiging en meer informatie. Mocht u na <b>6</b> weken nog niets van ons gehoord hebben, 
        neem dan contact op met de <a id="email_secre" href="#"><b>secretaris</b></a> voor meer informatie.     
    </p>

    <h3>Aanmeld formulier</h3>

    <p>
        <strong>Het inschrijf formulier is tijdelijk gesloten, probeer
        het over een paar weken nog eens, of stuur een mail naar de secretaris!</strong>
    </p>

<!-- 
    <div class="cognito">
        <script src="https://services.cognitoforms.com/s/vs6FWsIiSEGGFdPsq90Erg"></script>
        <script>Cognito.load("forms", { id: "1" });</script>
    </div>
 -->
{% endblock %}

{% block script %}
    var _mailt = "mailto:",
        _extger = "shs-geronimo.org",
        _at = "@",
        _secr = "secretaris",
        _secr2 = _mailt + _secr + _at + _extger;
    document.getElementById('email_secre').href = _secr2;
{% endblock %}
