{% extends "base.html" %}

{% block current_aanmelden %}active{% endblock %}
{% block title %}{{ block.super }} : Aanmelden beginnerscursus{% endblock %}

{% block banner %}DSC_22439.png{% endblock %}
{% block logo-position %}top: 20px; left: 430px;{% endblock %}

{% block body %}
    <h2>Aanmeldingsformulier beginnerscursus</h2>

    <p>
        Met dit formulier kun je je aanmelden voor de
        beginnerscursus. Deze start in januari 2021 en is vanaf 18 jaar. Inwoners uit Zeist en omstreken krijgen voorrang.
    </p>

    <p>
        <b>Let op!</b> De aanmelding is niet direct definitief.<br>
        Na de aanmelding zal via mail bevestigd worden of je inderdaad deel kunt nemen aan
        de cursus en hoe de betaling plaats moet vinden.
    </p>

    <p>
        Na succesvolle aanmelding zal je een mail ontvangen met  meer informatie.
        Mocht je na een week nog niets van ons gehoord hebben,
        neem dan contact op met de <a href="{% url '/contact.html' %}"><b>secretaris</b></a>
        voor meer informatie.
    </p>

    <h3>Aanmeldingsformulier</h3>

    <p>
        <a href="https://forms.gle/6CYVK9zZU1gsghEn8">Klik hier</a>
    </p>

<a href="https://www.cognitoforms.com/s/qJVkDWqzO0uLONsVqlf1D">Klik hier</a>


<div class="cognito">
<script src="https://www.cognitoforms.com/s/qJVkDWqzO0uLONsVqlf1Dw"></script>
<script>Cognito.load("forms", { id: "1" });</script>
</div>

{% comment %}
    <p>
        <strong>Het inschrijf formulier is tijdelijk gesloten, eind augustus 2020 zullen de
        inschrijvingen weer open gaan!</strong>
    </p>


    <div class="cognito">
        <script src="https://services.cognitoforms.com/s/vs6FWsIiSEGGFdPsq90Erg"></script>
        <script>Cognito.load("forms", {id: "1" });</script>
    </div>
{% endcomment %}

{% endblock %}
