{% extends "activiteiten.html" %}

{% block body %}
    <div style="float: right;">
        <img style="border-radius: 6px;" alt=""
             src="{% static '/static/images_activiteiten/DSC_05935.jpg' %}" /><br><br>
        <img style="border-radius: 6px;" alt=""
             src="{% static '/static/images_activiteiten/ADL_055641.jpg' %}" /><br><br>
        <img style="border-radius: 6px;" alt=""
             src="{% static '/static/images_activiteiten/DSC_100486.jpg' %}" />
    </div>

    <h2>Activiteiten en wedstrijden</h2>

    <h3>2019</h3>

    <ul>
        <li>6 mei, maandag 19:30 - Opening nieuwe schiethal (binnen)
    </ul>

    <h2>Uitslagen en verslagen</h2>
    <ul>
        <li><a href="{% url '/activiteiten/koningschieten.html' %}">Koningschieten</a></li>
        <li><a href="{% url '/activiteiten/veldschieten.html' %}">Workshop Veldschieten</a></li>
        <li><a href="{% url '/activiteiten/kerstverschieting.html' %}">Kerstverschieting</a></li>
        <li><a href="{% url '/activiteiten/paasverschieting.html' %}">Paasverschieting</a></li>
        <li><a href="{% url '/activiteiten/sinterkerstnieuwjaarsverschieting.html' %}">SinterKerstNieuwjaarsverschieting</a></li>
    </ul>

    <h2>Externe wedstrijden (buiten onze club)</h2>
    <p>
        Voor een volledig overzicht, zie:
        <a rel="noreferrer" href="https://www.handboogkalender.nl">Wedstrijdkalender NHB</a>
    </p>
{% endblock %}
