{% extends "base.html" %}

{% block title %}{{ block.super }} : Activiteiten en wedstrijden{% endblock %}

{% block banner %}ADL_135176.png{% endblock %}
{% block logo-position %}top: -160px; left: 490px;{% endblock %}

{% block body %}
    <div style="float: right;">
        <img style="border-radius: 6px;" alt=""
             src="{% static '/static/images_activiteiten/DSC_05935.jpg' %}" /><br><br>
        <img style="border-radius: 6px;" alt=""
             src="{% static '/static/images_activiteiten/ADL_055641.jpg' %}" /><br><br>
        <img style="border-radius: 6px;" alt=""
             src="{% static '/static/images_activiteiten/DSC_100486.jpg' %}" />
    </div>

    <h2>Activiteiten</h2>
    <ul>
        <li>28 december 2014: Kerstverschieting!</li>
    </ul>

    <h2>Wedstrijden</h2>
    <ul>
        <li>-</li>
    </ul>

    <h2>Uitslagen en verslagen</h2>
    <ul>
        <li><a href="{% url '/uitslagen/veldschieten.html' %}">Workshop Veldschieten</a></li>
        <li><a href="{% url '/uitslagen/paasverschieting.html' %}">Paasverschieting</a></li>
        <li><a href="{% url '/uitslagen/sinterkerstnieuwjaarsverschieting.html' %}">SinterKerstNieuwjaarsverschieting</a></li>
        <li><a href="{% url '/uitslagen/koningschieten.html' %}">Koningschieten</a></li>
    </ul>

    <h2>Externe wedstrijden (buiten onze club):</h2>
    <p>
        Voor een volledig overzicht, zie:
        <a href="http://www.handboogsport.nl/kalender/" target="_blank">Algemene Wedstrijdkalender</a>
    </p>
    <ul>
        <li><a href="http://www.zwartmikkers.nl/short%20metric.html" target="_blank">25 januari 2015 - Short Metric, Zwartmikkers in Middelbeers</a></li>
        <li><a href="http://www.eilandschutters.nl/files/WA%202015%20flyer.pdf" target="_blank">14-15 februari 2015 - Winteranimal, Eilandschutters op Texel</a></li>
    </ul>
{% endblock %}
