{% extends "base.html" %}

{% block current_adres %}active{% endblock %}
{% block title %}{{ block.super }} : Adres{% endblock %}

{% block banner %}ADL_135275.png{% endblock %}
{% block logo-position %}top: 20px; left: 650px;{% endblock %}

{% block body %}
    <h2>Adres en route</h2>

    <p>
        Het adres voor het verenigingsgebouw is:<br>
        S.H.S. Geronimo<br>
        De Molenweg 28<br>
        3981 CC Bunnik
    </p>

    <p>
        Post kan naar:<br>
        S.H.S. Geronimo<br>
        Sapoerahof 5<br>
        3531 WJ Utrecht
    </p>

    <h3>Buitenveld</h3>

    <p>
        Het buitenveld bevind zich bij de andere sportvelden naar Slot
        Zeist, aan het Filosofenlaantje. Parkeer je auto bij de
        parkeerplaats aan de Zinzendorflaan, aangegeven met blauw, de
        route van de parkeerplaats tot het veld aangegeven met rood:
    </p>

    <img alt="" src="{% static '/static/images_adres/buitenveld.png' %}" />
{% endblock %}
