{% extends "base.html" %}

{% block current_contact %}active{% endblock %}
{% block title %}{{ block.super }} : Bestuur en contact{% endblock %}

{% block banner %}ADL_115745.png{% endblock %}
{% block logo-position %}top: 50px; left: 240px;{% endblock %}

{% block body %}
    <h2>Bestuursleden</h2>

    <p style="font-style: italic;">Per 29 oktober, 2018</p>

    <ul>
        <li>
            <a id="email_voorz" href="#">Wout van de Brug</a> &ndash; voorzitter
            <ul>
                <li>Coördinator en aanspreekpunt voor instructeurs</li>
                <li>Coördinatie demonstraties</li>
                <li>Public relations</li>
                <li>Rayonzaken</li>
            </ul>
        </li>
        <li>
            <a id="email_secre" href="#">Suus van Zorge</a> &ndash; secretaris
            <ul>
                <li>Aanspreekpunt nieuwe cursisten</li>
                <li>Ledenlijst</li>
                <li>Notulen bestuurs- en ledenvergaderingen</li>
                <li>Verzorgen jaarverslagen</li>
            </ul>
        </li>
        <li>
            <a id="email_penni" href="#">Thomas Coppens</a> &ndash; penningmeester
            <ul>
                <li>Begroting</li>
                <li>Financieel jaarverslag</li>
            </ul>
        </li>
        <li>
            Janine van Dijk
            <ul>
                <li>Activiteitenorganisatie</li>
                <li>Nieuwsbrief</li>
            </ul>
        </li>
        <li>Thomas Coppens</li>
    </ul>

    <h2>Wilt u meer informatie?</h2>
    <p>
        Als u meer informatie wenst, zich in wilt schrijven als lid of
        op wilt geven voor een cursus, kunt u contact opnemen met de secretaris.
    </p>

    <p>
        Inschrijven voor de beginnerscursus kan ook via
        <a href="{% url '/aanmelden.html' %}">dit formulier</a>.
    </p>

    <h2>Website</h2>

    <p>
        Indien u op- of aanmerkingen heeft over deze website, mail dan
        naar: <a href="#" id="email_webma">Arne de Laat</a>.
    </p>
{% endblock %}

{% block script %}
    var _mailt = "mailto:",
        _extger = "shs-geronimo.org",
        _at = "@";

    var _voorz = "voorzitter",
        _secre = "secretaris",
        _penni = "penningmeester",
        _webma = "webmaster";

    var _voorz2 = _mailt + _voorz + _at + _extger,
        _secre2 = _mailt + _secre + _at + _extger,
        _penni2 = _mailt + _penni + _at + _extger,
        _webma2 = _mailt + _webma + _at + _extger;

    // Bestuur
    document.getElementById('email_voorz').href = _voorz2;
    document.getElementById('email_secre').href = _secre2;
    document.getElementById('email_penni').href = _penni2;

    // Extra
    document.getElementById('email_webma').href = _webma2;
{% endblock %}
