{% extends "base.html" %}

{% block current_filmpjes %}active{% endblock %}
{% block title %}{{ block.super }} : Filmpjes{% endblock %}

{% block banner %}ADL_135292.png{% endblock %}
{% block logo-position %}top: 40px; left: 730px;{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/vendor/normalize.css">
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/tipTip.css">
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/video.css">
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/icons.css">
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/controls.css">
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/thumbs/D80.css">
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/thumbs/D90.css">
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/thumbs/D700.css">
    <link rel="stylesheet" href="https://arne.delaat.net/static/css/thumbs/S60.css">
{% endblock %}

{% block style %}
    .thu {margin: 1px;}
    #progress_indicator {top: -2px; left: -2px;}
    #volume_indicator {top: 5px;}
{% endblock %}


{% block body %}
    <h2>Filmpjes</h2>

    <p>
        Dit zijn een aantal gewone en time-lapse filmpjes gemaakt
        tijdens het schieten.
    </p>

    <ul id="thumbnails" style="background-color:#fff; padding-left: 0px;">
             <li class="thu" id="SHS_Geronimo_Zeist_131012" style="background: url('https://arne.delaat.net/Movies/thumbs/SHS_Geronimo_Zeist_131012.png');" data-960 data-1920 data-audio>
        </li><li class="thu" id="iPad_111029_2" style="background: url('https://arne.delaat.net/Movies/thumbs/iPad_111029_2.jpg');" data-960 data-1920 data-audio>
        </li><li class="thu" id="iPad_111029_1" style="background: url('https://arne.delaat.net/Movies/thumbs/iPad_111029_1.jpg');" data-960 data-1920 data-audio>
        </li><li class="thu d700" id="D700_D90_120524_1_2_3_4" data-960 data-1920>
        </li><li class="thu d80" id="D80_100816_3" data-960>
        </li><li class="thu d80" id="D80_090906_2" data-960>
        </li><li class="thu d80" id="D80_090906_1" data-960>
        </li><li class="thu s60" id="S60_051218_1" data-960>
        </li>
    </ul>

    <div id="movie" style="background-color:#ffffff; height:665px;">
        <img id="poster" class="showing" style="width: auto; margin: 0px 235px;" alt="Click to play"
             data-id="D80_090906_2" src="{% static '/static/images_filmpjes/clicktoplay.jpg' %}" />
        <video id="player"></video>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://arne.delaat.net/static/js/vendor/jquery-1.10.2.js"></script>
    <script src="https://arne.delaat.net/static/js/vendor/jquery.tipTip.min.js"></script>
    <script src="https://arne.delaat.net/static/js/video.js"></script>
{% endblock %}
