{% extends "base.html" %}

{% block current_fotos %}active{% endblock %}
{% block title %}{{ block.super }} : Foto's{% endblock %}

{% block banner %}ADL_104656_b.png{% endblock %}
{% block logo-position %}top: 70px; left: 460px;{% endblock %}

{% block body %}
    <iframe class="album" src="about:blank" height="750" id="target"
            data-album="http://arne.delaat.net/Photos_Archery/">
    </iframe>
{% endblock %}

{% block scripts %}
    <script src="http://arne.delaat.net/static/js/vendor/jquery-1.10.2.js"></script>
    <script src="http://arne.delaat.net/static/js/photos.js"></script>
{% endblock %}
