{% extends "base.html" %}

{% block title %}{{ block.super }} : Lidmaatschap{% endblock %}

{% block banner %}ADL_104656.png{% endblock %}
{% block logo-position %}top: -190px; left: 460px;{% endblock %}

{% block body %}
    <h2>Lidmaatschap (vanaf 12 jaar)</h2>

    <p class="textw">
        Wie wil boogschieten bij Geronimo kan eerst gebruik maken van de
        <a href="{% url '/beginnerscursus.html' %}">beginnerscursus</a>.
        Daarna dient men lid te worden. Leden mogen, wanneer de zaal
        geopend is, in de zaal schieten. In het buitenseizoen krijgen ze
        toegang tot het <a href="{% url '/adres.html' %}">buitenveld</a>.
        Verder zijn leden van Geronimo ook automatisch lid van de
        <a href="http://www.handboogsport.nl/" target="_blank">Nederlandse
        Handboogbond</a> (NHB), men krijgt dan het blad “Handboogsport”
        van de NHB, en men is hiermee ook direct WA-verzekerd tijdens
        training en wedstrijden.
    </p>

    <p class="textw">
        Leden van Geronimo worden geacht zelf hun materiaal te kopen.
        Het eerste halve jaar kan een nieuw lid een verenigingsboog
        huren. Daarna is het verplicht eigen materiaal aangeschaft te
        hebben. In overleg kunnen er soms tweedehands bogen overgekocht
        worden.
    </p>

    <table style="width: 250px;">
        <tr>
            <th colspan="2" style="text-align: center;">Jaarlijkse contributie</th>
        </tr>
        <tr>
            <td>Aspiranten t/m 14 jaar</td>
            <td>€92,-</td>
        </tr>
        <tr>
            <td>Jeugd 15 t/m 17 jaar</td>
            <td>€135,-</td>
        </tr>
        <tr>
            <td>Volwassenen v.a. 18 jaar</td>
            <td>€192,-</td>
        </tr>
    </table>

    <p class="textw">
        Het is mogelijk om deze contributie in termijnen te betalen.
    </p>
{% endblock %}
