{% extends "base.html" %}

{% block current_links %}active{% endblock %}
{% block title %}{{ block.super }} : Links{% endblock %}

{% block banner %}ADL_135309.png{% endblock %}
{% block logo-position %}top: 30px; left: 480px;{% endblock %}

{% block body %}
    <h2>Links</h2>

    <table valign="top"><tr>
        <td style="width: 300px">
            <h5>Officiële websites</h5>
            <ul>
                <li><a rel="noreferrer" href="https://www.handboogsport.nl/">Nederlandse Handboog Bond</a></li>
                <li><a rel="noreferrer" href="https://www.archery.org/">FITA International Archery Federation</a></li>
                <li><a rel="noreferrer" href="https://www.olympic.org/archery">Olympic Archery</a></li>
                <li><a rel="noreferrer" href="https://www.usarchery.org/">US National Archery Association</a></li>
                <li><a rel="noreferrer" href="https://www.ifaa-archery.org/">International Field Archery Association</a></li>
            </ul>

            <h5>Andere verenigingen</h5>
            <ul>
                <li><a rel="noreferrer" href="http://www.artemis79.nl/">Artemis'79</a></li>
                <li><a rel="noreferrer" href="http://www.ahv-centaur.nl/">AHV Centaur</a></li>
                <li><a rel="noreferrer" href="https://www.hbsa.nl/">HandBoogSchutterij Almere</a></li>
                <li><a rel="noreferrer" href="https://www.knhs-concordia.org/">K.N.H.S. Concordia</a></li>
                <li><a rel="noreferrer" href="http://www.sagittarius.utwente.nl/">Sagittarius Twente</a></li>
                <li><a rel="noreferrer" href="http://www.eikelswordeneiken.nl/">Eikels worden Eiken</a></li>
                <li><a rel="noreferrer" href="http://www.ace-xclusive.nl/">A.C.E. X-Clusive</a></li>
                <li><a rel="noreferrer" href="http://www.asvbredius.nl/schutters/">Brediusschutters</a></li>
                <li><a rel="noreferrer" href="https://www.handboogsport.nl/contact/zoek-je-vereniging/">Overzicht alle verenigingen</a></li>
            </ul>
        </td>
        <td style="width: 240px">
            <h5>Boog winkels</h5>
            <ul>
                <li><a rel="noreferrer" href="https://www.3darcherystore.nl/">3D Archery Store</a></li>
                <li><a rel="noreferrer" href="https://www.jvd-archery.nl/">JVD Archery</a></li>
                <li><a rel="noreferrer" href="https://www.vbs-archery.nl/">Van Buggenum Sports</a></li>
                <li><a rel="noreferrer" href="https://www.all-inn-traditional.nl/">All-Inn-Traditional</a></li>
                <li><a rel="noreferrer" href="http://www.fairbow.nl/">Fairbow</a></li>
                <li><a rel="noreferrer" href="https://www.europearchery.com/">Europe Archery</a></li>
                <li><a rel="noreferrer" href="https://www.3riversarchery.com/">3Rivers Archery</a></li>
                <li><a rel="noreferrer" href="https://www.bogensportwelt.de/">BogenSportWelt</a></li>
                
            </ul>

            <h5>Boog merken</h5>
            <ul>
                <li><a rel="noreferrer" href="https://www.hoyt.com/">Hoyt</a></li>
                <li><a rel="noreferrer" href="https://www.win-archery.com/">WIN&amp;WIN</a></li>
                <li><a rel="noreferrer" href="http://www.samicksports.com/">Samick</a></li>
                <li><a rel="noreferrer" href="http://www.doosungarchery.co.kr/eng/">Cartel</a></li>
                <li><a rel="noreferrer" href="http://www.kayaarchery.com/">Kaya</a></li>
                <li><a rel="noreferrer" href="http://www.rytera.com/">Rytera</a></li>
                <li><a rel="noreferrer" href="https://www.bowtecharchery.com/">Bowtech</a></li>
                <li><a rel="noreferrer" href="https://www.feradyne.com/sure-loc/">Sure-loc</a></li>
                <li><a rel="noreferrer" href="https://www.pse-archery.com/">PSE</a></li>
                <li><a rel="noreferrer" href="http://www.bearpaw-products.com/">Bearpaw</a></li>
            </ul>
        </td>
        <td>
            <h5>Overige</h5>
            <ul>
                <li><a rel="noreferrer" href="https://www.youtube.com/user/archerytv">Archery TV</a></li>
            </ul>
        </td>
    </tr></table>
{% endblock %}
