{% extends "base.html" %}

{% block title %}{{ block.super }} : Nieuws{% endblock %}

{% block banner %}ARN_066997.png{% endblock %}
{% block logo-position %}top: -185px; left: 730px;{% endblock %}

{% block body %}
    <h2>Nieuws</h2>
 
    <h3>2015</h3>

    <p>
        <b>27 Juni</b><br>Op 27 juni is weer het traditionele  <a href="{% url '/activiteiten.html' %}">Koningschieten</a>. Er zijn zoals altijd weer drie categorieën, namelijk
        <ul>
         <li>Traditioneel & Barebow</li>
         <li>Recurve </li>
         <li>Compound</li>
        </ul>
       <b>01 Juni</b><br>Vanaf 1 juni is in verband met de zomersluiting de zaal alleen beschikbaar op de <a href="{% url '/openingstijden.html' %}">donderdagavonden</a>.</br> We hopen iedereen op het veld te mogen begroeten. <br/>
       <br/>
    </p>
 
    <h3>2014</h3>

    <p>
        <b>20 Juli</b><br> Op 28 juni zal het
        <a href="{% url '/activiteiten.html' %}">Koningschieten</a>
        weer plaats vinden. Dit jaar zal de omroep
        <a href="http://www.slotstad.nl">Slotstad RTV</a> een verslag
        doen van de wedstrijd.
    </p>

    <h3>2012</h3>

    <p>
        <b>20 Juli</b><br> De cursus van oktober zit vol, zo vol zelfs
        dat deze groep in tweeën gesplitst wordt.
    </p>
    <p>
        <b>10 Juni</b><br> Op 2 mei kwam Scott M. Rodell weer een
        workshop Manchu Archery geven, de <a href="{% url '/fotos.html' %}">
        foto's</a> van deze workshop staan online. Mogelijk volgt er
        later ook nog een klein filmpje van de workshop.
    </p>
    <p>
        <b>20 Maart</b><br> De <a href="{% url '/fotos.html' %}">foto's</a>
        van de januari cursus staan online.
    </p>

    <h3>2011</h3>

    <p>
        <b>15 December</b><br> Er zijn twee
        <a href="{% url '/filmpjes.html' %}">filmpjes</a> van de
        regiocompetitie toegevoegd. Ook de kerstverschieting is toegevoegd
        aan de <a href="{% url '/activiteiten.html' %}">activeiten pagina</a>.
    </p>
    <p>
        <b>15 November</b><br> Op zaterdag 26 november zal voor leden
        vanaf 16:30 uur het 30 jarig bestaan van Geronimo gevierd
        worden, zie de <a href="{% url '/activiteiten.html' %}">
        activeiten pagina</a> voor meer informatie.
    </p>
    <p>
        <b>4 September</b><br> Per 1 september heeft Hans Pruijs zijn
        bestuursfunctie overgedragen aan Amanda Manten en heeft Kasper
        Dieho de vrijgekomen plek in het <a href="{% url '/contact.html' %}">
        bestuur</a> opgevuld en zal activiteiten gaan coördineren.
    </p>
    <p>
        <b>21 Augustus</b><br> Het <a href="{% url '/activiteiten.html' %}">
        Koningschieten</a> komt er weer aan! Bij de Activiteiten kan
        je alle informatie vinden.
    </p>
    <p>
        <b>31 Mei</b><br> De <a href="{% url '/links.html' %}">links</a>
        pagina is vernieuwd en bevat nu meer nuttige links en is beter
        gesorteerd.
    </p>
    <p>
        <b>04 Mei</b><br> Er staat een nieuwe
        <a href="{% url '/activiteiten.html' %}">activiteit</a> op de planning,
        namelijk een Workshop Veldschieten op zondag 5 juni.<br>
        Geïnteresseerden kunnen zich aanmelden bij de voorzitter.<br>
        Ook zijn een aantal pagina's op de website geupdate en
        duidelijker gemaakt.
    </p>
    <p>
        <b>15 April</b><br> De <a href="{% url '/openingstijden.html' %}">
        openingstijden</a> van de zaal en het buitenveld voor dit
        jaar zijn bekend.<br> Sinds 1 april mag er op het buitenveld
        geschoten worden, die zal open zijn tot 1 oktober.<br> De zaal
        zal in deze periode deels gesloten zijn, zie de pagina
        openingstijden voor meer informatie.
    </p>
    <p>
        <b>14 April</b><br> Er was op 31 maart een Demo voor een groep
        mensen van het TNO, iedereen kreeg een korte les in het schieten
        en kon uiteindelijk vanaf de achterste schietlijn schieten. Door
        sommige van onze leden werden de verschillende bogen
        gedemonstreerd waarmee geschoten wordt bij onze club. Er staan
        nu <a href="{% url '/fotos.html' %}">foto's</a> van de demo online.
    </p>
    <p>
        <b>23 Februari</b><br> Nieuwe <a href="{% url '/fotos.html' %}">
        foto's</a> van de beginnerscursus en de
        SinterKerstNieuwjaars verschieting.
    </p>
    <p>
        <b>30 Januari</b><br> <a href="{% url '/activiteiten.html' %}">
        Aankondiging</a> van de paasverschieting (24 april).
    </p>

    <h3>2010</h3>

    <p>
        <b>14 December</b><br> Aankondiging van een komende verschieting
        (9 januari).<br> Ook zijn er nieuwe <a href="{% url '/fotos.html' %}">
        foto's</a> van 2010 geplaatst.
    </p>
    <p>
        <b>07 December</b><br> De website heeft nu een
        <a href="{% url '/aanmelden.html' %}">aanmeldings pagina</a> voor de
        beginnerscursus.
    </p>
    <p>
        <b>05 December</b><br> Het <a href="{% url '/fotos.html' %}">
        foto album</a> is vernieuwd, binnenkort zullen ook nieuwe
        foto's geplaatst worden.
    </p>
    <p>
        <b>28 November</b><br> De functie van voorzitter is overgedragen
        van Sander de Vries aan Arnold Dittmar.<br> De datums voor de
        komende <a href="{% url '/beginnerscursus.html' %}">
        beginnerscursussen</a> zijn vast gelegd. 
    </p>
    <p>
        <b>19 Oktober</b><br> Er zal een Algemene Ledenvergardering
        plaats vinden op zondag 28 november om 14:30 uur. Alle leden
        zijn welkom.<br> Gaarne eventuele aandachtspunten die je wilt
        inbrengen laten weten aan de voorzichter.
    </p>
    <p>
        <b>18 Oktober</b><br> De data van de nieuwe beginnerscursus zijn
        bekend. Ga naar <a href="{% url '/beginnerscursus.html' %}">
        beginnerscursus</a> voor meer informatie.
    </p>
    <p>
        <b>16 Augustus</b><br> Er is een nieuw filmpje toegevoegd aan de
        <a href="{% url '/filmpjes.html' %}">filmpjes</a> pagina.
    </p>
{% endblock %}
