{% extends "base.html" %}

{% block current_openingstijden %}active{% endblock %}
{% block title %}{{ block.super }} : Openingstijden{% endblock %}

{% block banner %}ADL_135222.png{% endblock %}
{% block logo-position %}top: -150px; left: 180px;{% endblock %}

{% block body %}
    <h2>Openingstijden</h2>

    <h4>Zaal</h4>

    <p class="textwidth">
        Er mag alleen tijdens deze openingstijden geschoten worden in de
        <a href="{% url '/adres.html' %}">zaal</a>.
    </p>

    <p>Reguliere openingstijden voor vrij schieten:</p>

    <table>
        <tr><th colspan="2" style="text-align: center;">Dagen en tijden</th><th style="text-align: center;">Zomer sluiting</th><th style="text-align: center;">Opmerkingen</th></tr>
        <tr><td style="width: 80px">maandag</td><td style="width: 80px">19:30 - 21:30</td><td style="text-align: right;">1 juni - eind september</td></tr>
        <tr><td style="color: #bbb;">dinsdag</td><td style="color: #bbb;">dicht</td><td></td></tr>
        <tr><td style="color: #bbb;">woensdag</td><td style="color: #bbb;">dicht</td><td></td></tr>
        <tr><td>donderdag</td><td>19:30 - 21:30</td><td style="text-align: right;">open tijdens zomer</td></tr>
        <tr><td>vrijdag</td><td>19:30 - 21:30</td><td style="text-align: right;">1 juni - eind september</td></tr>
        <tr><td style="color: #bbb;">zaterdag</td><td style="color: #bbb;">dicht</td><td></td><td></td></tr>
        <tr><td>zondag</td><td>14:00 - 16:00</td><td style="text-align: right;">1 juni - eind september</td></tr>
    </table>

    <p class="textwidth">
        Op vrijdag is er soms om de <a href="{% url '/beginnerscursus.html' %}">
        beginnerscursus</a>, dan kan er niet vrij geschoten worden.
    </p>

    <h4>Buitenveld</h4>

    <p class="textwidth">
        Het <a href="{% url '/adres.html' %}">buitenveld</a> is
        gedurende de zomer geopend vanaf 1 april tot 1 oktober, daar
        zijn verder geen vaste dagen of tijden aan verbonden, maar er is
        wel een sleutel nodig om het veld op te kunnen.
    </p>
{% endblock %}
