{% extends "base.html" %}

{% block current_workshop %}active{% endblock %}
{% block title %}{{ block.super }} : Workshop{% endblock %}

{% block banner %}ADL_104649.png{% endblock %}
{% block logo-position %}top: 15px; left: 500px;{% endblock %}

{% block body %}
    <div style="float: right;">
        <img style="border-radius: 6px;" alt=""
             src="{% static '/static/images_workshop/ADL_061819.jpg' %}" /><br><br>
        <img style="border-radius: 6px;" alt=""
             src="{% static '/static/images_workshop/ADL_061919.jpg' %}" />
    </div>

    <h2>Workshop</h2>

    <p class="textwidth">
        Zoekt u een leuke activiteit voor een bedrijfsuitje, verjaardag
        of andere gelegenheid?<br> SHS Geronimo kan dat voor u verzorgen.
    </p>

    <p class="textwidth">
        U krijgt instructies van onze ervaren schutters waarna er een
        wedstrijd kan worden geschoten.
    </p>

    <p class="textwidth">
        Ook is er de mogelijkheid om na de wedstrijd van een gezellig
        etentje in onze knusse kantine te genieten en/of tijdens de
        wedstrijd een lekkere snack te nuttigen, wij regelen dit graag
        voor u.  
    </p>

    <h3>Voorbeeld</h3>

    <p class="textwidth">
        Bedrijfsuitje kost €15 pp per uur  (exclusief drankjes en
        snacks) .<br> Neem voor eten of snack even contact met ons op.
    </p>

    <p class="textwidth">
        Wilt u een indruk krijgen van de gezellige sfeer, kijk dan bij
        de <a href="{% url '/fotos.html' %}">foto's</a>  onder 2011 bij Demo.
    </p>

    <p class="textwidth">
        Neem voor meer informatie contact op met de <a id="email_voorz"
        href="#">voorzitter</a>.
    </p><br>

    <p class="textwidth">
        We kunnen groepen van minimaal 10 tot maximaal ongeveer 25
        personen faciliteren. De minimum leeftijd voor de deelnemers is
        12 jaar. In verband met de grote belangstelling graag minimaal
        twee weken van tevoren reserveren
    </p>
{% endblock %}

{% block script %}
     var _mailt = "mailto:"
     var _extger = "shs-geronimo.org";
     var _at = "@";
     var _voorz = "voorzitter"
     var _voorz2 = _mailt + _voorz + _at + _extger;
     document.getElementById('email_voorz').href = _voorz2;
{% endblock %}
