{% extends "base.html" %}

{% block current_activiteiten %}active{% endblock %}
{% block title %}{{ block.super }} : Activiteiten en wedstrijden{% endblock %}

{% block banner %}ADL_135176.png{% endblock %}
{% block logo-position %}top: 60px; left: 490px;{% endblock %}

{% block submenu %}
    <div id="subnavcontainer">
        <ul>
            <li>
                <a class="{% block activiteiten_koningschieten %}{% endblock %}"
                   href="{% url '/activiteiten/koningschieten.html' %}">Koningschieten</a>
            </li>
            <li>
                <a class="{% block activiteiten_kerstverschieting %}{% endblock %}"
                   href="{% url '/activiteiten/kerstverschieting.html' %}">Kerstverschieting</a>
            </li>
            <li>
                <a class="{% block activiteiten_paasverschieting %}{% endblock %}"
                   href="{% url '/activiteiten/paasverschieting.html' %}">Paasverschieting</a>
            </li>
            <li>
                <a class="{% block activiteiten_sinterkerstnieuwjaarsverschieting %}{% endblock %}"
                   href="{% url '/activiteiten/sinterkerstnieuwjaarsverschieting.html' %}">SinterKerstNieuwjaar…</a>
            </li>
            <li>
                <a class="{% block activiteiten_veldschieten %}{% endblock %}"
                   href="{% url '/activiteiten/veldschieten.html' %}">Veldschieten</a>
            </li>
        </ul>
    </div>
{% endblock %}
